CoreDataPractice/project.xcworkspace
CoreDataPractice.xcodeproj/xcuserdata
CoreDataPractice.xcodeproj/project.xcworkspace/xcuserdata
CoreDataPractice.xcodeproj/project.xcworkspace/CoreDataPractice.xcworkspace
CoreDataPractice.xcworkspace/contents.xcworkspacedata
CoreDataPractice.xcworkspace/xcuserdata
CoreDataPractice.xcworkspace
CoreDataPractice.xcworkspace/xcshareddata
Pods
*.DS_Store
.DS_Store
